.App {
    text-align: center;
    align-content: center;
  }
  

 #weather p {
   color: black;
   font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
   font-weight: bold;
   font-variant: small-caps;
   font-size: 2em;
   margin-bottom: -3px;
 }

 #weather button {
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 2em;
  color: black;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  background-color: lightgrey;
  border: 8px double black;
  padding: 6px 10px;
}

#weather button:hover {
  background-color: black;
  color: hotpink;
}

#weather span {
  color: black;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  margin-left: 5px;
  font-size: 2em;
}




  /* body */
  body {
    padding: 15px;
    color: black;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    align-content: center;
    font-size: 20px;
  }
  
  /* footer */
  footer {
    background-color: black;
    color: white;
    margin-top: 10px;
  }
  
  footer p {
    margin-top: 0.8em!important;
    margin-left: 1.5em;
  }
  
  /* main */
  .main {
    background-color: white;
    color: black;
    height: 100%;
    min-height: 100%;
  }
  
  .mainDiv {
    margin: auto;
    width: 90%;
    padding: 5px;
  }
  
  .sidebar {
    display: flex; 
    background-color: black;
    margin-top: 10px;
  }

  
  ul {
    list-style-type: none;
  }
  
  /* Sidebar */
  .sidebar-list-styling{
    padding-left: 50px;
    padding-top: 15px;
    width: 20%;
    background-color: black;
    color: white;
  }
  
  .sidebar-list a{
    color: white;
    padding: 0;
    text-decoration: none;
  }

  .sidebar-list a:hover {
    color: hotpink;
  }
  
  .sidebar-route {
    flex: 1;
    padding: '00px';
  }
  
  /* header */
  .header {
    margin-top: 0.5em!important;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  .header a {
    color: white;
  }
  
  .header p {
    margin-top: 0.8em!important;
  }